{%- assign authors = include.authors -%}
{%- assign has_eq_contrib = false -%}
{%- assign has_corr_author = false -%}
{%- assign i = 0 -%}
{%- for _key in authors -%}
    {%- assign key = _key -%}
    {%- assign mark = "" -%}

    {%- if key contains "*" -%}
        {%- assign key = key | remove: "*" -%}
        {%- assign mark = mark | append: "*" -%}
        {%- assign has_eq_contrib = true -%}
    {%- endif -%}

    {%- if key contains "†" -%}
        {%- assign key = key | remove: "†" -%}
        {%- assign mark = mark | append: "†" -%}
        {%- assign has_corr_author = true -%}
    {%- endif -%}

    {%- assign info = site.data.authors[key] -%}

    {%- if info['name'] -%}
        {%- assign name = info['name'] -%}
    {%- else -%}
        {%- assign name = key -%}
    {%- endif -%}

    {%- if info['bold'] == true -%}
        {%- assign display_name = name | append: mark | prepend: "<strong style='background-color: #f2f2f2;'>" | append: "</strong><u>" | append: "</u>" -%}
    {%- else -%}
        {%- assign display_name = name | append: mark -%}
    {%- endif -%}
    
    {%- if info['url'] -%}
        <a class="text-body" target="_blank" href="{{ info['url'] }}">{{ display_name }}</a>{%- if forloop.index < authors.size -%}, {% endif -%}
    {%- else -%}
        <span class="text-body">
            {{ display_name }}{%- if forloop.index < authors.size -%}, {% endif -%}
        </span>
    {%- endif -%}

{%- endfor -%}

{%- if has_eq_contrib == true and has_corr_author == true -%}
<mark>(* <i> equal contribution</i>; † <i> corresponding author</i>)</mark>
{%- elsif has_eq_contrib == true -%}
<mark>(* <i> equal contribution</i>)</mark>
{%- elsif has_corr_author == true -%}
<mark>(† <i> corresponding author</i>)</mark>
{%- endif -%}
